body {
    margin: 0;
    padding: 20px;
    background-image: url(fondodd.gif);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
}

header {
    
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #32385e46;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'RetroBlocky', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    animation: rainbow 4s linear infinite, glow 1s ease-in-out alternate;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: rainbow 5s linear infinite;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    margin: 0;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.6);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 0.8), 0 0 60px rgba(255, 0, 0, 0.6);
    }
}


@keyframes rainbow {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.game-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.game-card img {
    width: 100%;
    border-radius: 10px;
}

.game-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #1e1e2f;
    font-weight: bold;
    font-size: 1.1rem;
}

.game-card a:hover {
    color: #ff6600;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    color: white;
}

th {
    background-color: #444;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2c3252;
    color: white;
    width: 100%;
}
h2{
    
    color: #fff;
}
h3{
    
    color: #fff;
}
p{
    color: #fff;
}
@font-face{
    font-family: RetroBlocky;
    src: url(RetroBlocky.ttf);
}   
